
:local {
    .container {
        background-color : dodgerblue;
        color            : white;
    }
}

:global {
    .red {
        background-color : darkred;
        color            : white;
    }
}
