
.container {
    background-color    : dodgerblue;
    color               : white;
    background-size     : cover;
    background-repeat   : no-repeat;
    background-position : center center;
}

/* submit-button.css */
.common { /* font-sizes, padding, border-radius */
    font-weight : bold;
}

.normal {
    composes : common;
    composes : primary from "../../Assets/Styles/Colors.css";
}