<!doctype html>
<html>
<head>
    <title>Module Glue Example</title>
    <meta charset="utf-8">
</head>
<body>

    <div class="wrapper">

        <h1>Module Glue Examples</h1>

        <div data-js-module="ExampleLoader"></div>

    </div>

</body>
</html>