<div class="{{styles.container}}">

    <div class="{{styles.toolbar}}">
        <select></select>
        <button>load module</button>
    </div>

    <div class="{{styles.module}}">
    </div>

</div>